
{% if admin %}
{% extends "adminLayout.html" %}
{% else %}
{% extends "visitLayout.html" %}  
{% endif %}

{% block content %}
<form method=POST>
    {{form.hidden_tag()}}
<div style="padding: 10px;text-align: center;">
    <h1>{{parkName}}</h1>
    {% for c in comments %}
        <div dir="rtl" style="background-color: white;width: 700px;margin: auto;margin-top: 10px;">
            <div style="flex-direction:row;display: flex;">
                <h1 style="font-size:large;">{{c['first']}} {{c['last']}}</h1>
                <div style="border-right: 2px solid blue;"></div>
                <h1 style="font-size:large;text-align: center;margin-right: 200px;">{{c['text']}}</h1>
            {% if admin or now==c['userId'] %}
                <a href="{{url_for('delete_comments',post_id=c['post_id'])}}" style="color: red;margin-right: 20px;">מחק</a>
            {% endif %}
            {% if now==c['userId'] %}
                <a href="{{url_for('update_comments',post_id=c['post_id'],text=c['text'])}}" style="color: blue;margin-right: 20px;">עדכן</a>
            {% endif %}
            </div>
            <div>
                <h1 style="font-size:large;">{{c['date']}}</h1>
            </div>
        </div>
    {% endfor %}
    {{form.comment( rows="4",cols="50",dir="rtl",style="margin-top: 10px;")}}
</div>
<div style="justify-content: center;display: flex;align-items: center;">
    <input type=file name=file>
    {{form.submit(style="color: #8fd7fc;background-color: white;border: none;cursor: pointer;")}}
    <!-- <button style="color: #8fd7fc;background-color: white;border: none;cursor: pointer;">הוסף תגובה</button> -->
</div>
</form>
{% endblock content %}