
{% if admin %}
{% extends "adminLayout.html" %}
{% else %}
{% extends "visitLayout.html" %}
{% endif %}

{% block content %}
    <form class="login100-form validate-form" method="POST" action="">
      {% for info_item in info_items %}
          <div dir="rtl" style="background-color: white;width: 700px;margin: auto;margin-top: 10px;">
              <div style="flex-direction:row;display: flex;">
                  <h1 style="font-size:large;">{{info_item['name']}}</h1>
                  <div style="border-right: 2px solid blue;"></div>
                  <h1 style="font-size:large;text-align: center;margin-right: 200px;">{{info_item['email']}}</h1>
              {% if admin %}
                  <a href="{{url_for('delete_info_item',info_item_id=info_item['id'])}}" style="color: red;margin-right: 20px;">מחק</a>
              {% endif %}
              </div>
          </div>
      {% endfor %}
      <div>
      {{form.name.label}}
      {{form.name( rows="4",cols="50",dir="rtl",style="margin-top: 10px;")}}
      {{form.job.label}}

      {{form.job( rows="4",cols="50",dir="rtl",style="margin-top: 10px;")}}
      {{form.email.label}}

      {{form.email( rows="4",cols="50",dir="rtl",style="margin-top: 10px;")}}

  </div>
  <div style="justify-content: center;display: flex;align-items: center;">
      {{form.submit(style="color: #8fd7fc;background-color: white;border: none;cursor: pointer;")}}
      <!-- <button style="color: #8fd7fc;background-color: white;border: none;cursor: pointer;">הוסף תגובה</button> -->
  </div>
    </form>
{% endblock content %}
